.uml-header-info{
    float: left;
    width: 67%;
    margin-left: 4px;
}
.uml-header-info h3{
    margin:0 !important;
}
.umlw-login-avatar img{
    display: block;
    width: 100%;
    height: auto;
}